html {
  font-size: 10px; /* 1rem = 10px*/
}

body {
  font-family: "Lora";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  background-color: var(--text-light);
}

h3 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.4;
}

.white {
  color: white;
}

.light-gray {
  color: var(--text-light);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

[class*="__container"] {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

@media (max-width: 479.98px) {
  [class*="__container"] {
    padding: 0 20px;
  }
}

main {
  flex: 1 1 auto;
}

.category {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.category:hover {
  background: rgba(255, 255, 255, 0.5);
}

.title {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.2;
}

.title-dark {
  color: var(--text-body);
}

.big-post {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.big-post__container {
  position: relative;
  display: grid;
  justify-items: center;
  z-index: 2;
  gap: 1.3rem;
  color: white;
}
.big-post__category {
  width: fit-content;
}
.big-post__title {
  max-width: 530px;
}
.big-post__link-title {
}
.big-post__text {
  color: var(--text-light);
  max-width: 420px;
}
.big-post__autor {
}
.big-post__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--footer-bg);
}
.big-post__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.related {
  padding: 100px 0;
}
.related__container {
}
.related__title {
  margin-bottom: 45px;
}

.related__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(42rem, 1fr));
  gap: 2rem;
}
.related__item {
}
.item-related {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item-related__category {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
}

.item-related__content {
  position: relative;
  display: grid;
  align-content: end;
  z-index: 2;
  color: var(--text-light);
  min-height: 350px;
  gap: 1.5rem;
  padding: 40px;
}
.item-related__date {
}
.item-related__title {
  color: white;
  font-size: 18px;
  line-height: 1.4;
}
.item-related__title:hover {
  text-decoration: underline;
}
.item-related__text {
}

.item-related__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--footer-bg);
}

.item-related__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: all 0.5s;
}

.item-related:hover .item-related__image img {
  transform: scale(1.05);
}

@media (max-width: 991.98px) {
  .related {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .related {
    padding: 40px 0;
  }
  .related__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 479.98px) {
  .related__items {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
  .item-related__content {
    padding: 15px;
    min-height: 300px;
  }
}

[data-item] {
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.8s;
}
[data-item].active {
  transform: translate(0, 0);
  opacity: 1;
}
